<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>

    <style>
        .chat {
            padding-left: 5px;
            background-color: aliceblue;
            border-radius: 15px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div>
        <h1>All Chats</h1>
        <a href="chats/new"><button>Create chat</button></a>
    </div><br>
    <% for( let chat of chats ) { %>
        <div class="chat">
            <h3>
                <%= chat.msg %>
                <form action="chats/<%= chat._id %>/edit" method="get">
                    <button>Edit</button>
                </form>
            </h3>
            <p>
                <span>From: <%= chat.from %></span>
                &nbsp;&nbsp;&nbsp;
                <span>To: <%= chat.to %></span>
            </p>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
        </div>
        <br><br>
        <% } %>
</body>

</html>