<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Enter your name:</h3>
    <input type="text">
    <button>Enter</button>
    <!-- we '<%= %>' like template literal in js. It is tag of ejs-->
    <h1>Sum of <%=6%> & <%=6%> = <%=6+6%></h1>

    <!-- control stament -->
    <!-- <% if (num%2 == 0) { %>
        <h2><%= num %> is even </h2>
    <% } else { %>
        <h2><%= num %> is odd </h2>
    <% } %> -->
</body>
</html>