<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta User</title>
    <Style>
        img{
            width: 200px;
            height: 200px;
        }
    </Style>
</head>
<body>
    <!-- <h1>This account belongs to @<%=//username%></h1> -->
    <h1>This account belongs to @<%=user.name%></h1>
    <button>Follow</button>
    <button>Message</button>

    <!-- instagram activity -->
    <p>Followers: <%= user.followers %>&nbsp;&nbsp;&nbsp;&nbsp; Following: <%= user.following %></p>
    <hr>
    <% for( let post of user.posts) { %>
        <img src="<%= post.image %>" alt="Random image">
        <p>Likes <%= post.likes %> &nbsp;&nbsp; Comments <%= post.comments %></p>
    <% } %>
    
</body>
</html>